APP_URL=http://localhost:8085

DB_HOST=minhaletra_db
DB_PORT=3306
DB_DATABASE=minhaletra
DB_USERNAME=minhaletra_user
DB_PASSWORD=
DB_ROOT_PASSWORD=
DB_AUTO_INIT_SCHEMA=0

ADMIN_EMAIL=
ADMIN_NAME=
ADMIN_PASSWORD=
